<p id="notice"><%= notice %></p>
 <h1><%= @contact.to_s %></h1>

<p>
  <b>Phone:</b>
  <%= @contact.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Organizations:</b>
  <% @contact.organizations.each do |org| %>
	<%= org.name %><br />
  <% end %>
</p>

<p class = 'role'>
  <b>Role:</b>
  <%= @contact.role %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
