<li class="span4 project-card" data-project-id="<%= project.id %>">
  <a href="<%= project_path project %>" class="thumbnail" title="<%= project.description %>">
    <% if Hei::Application.config.hei[ 'projects_as' ] == 'projects' && !project.updated_at.nil? %>
      <time datetime="<%= project.updated_at.to_s( :db ).sub(' ', 'T' )[ 0..-4 ] %>"><%= project.updated_at.to_formatted_s( :short ) %></time>
    <% end %>
    <div class="caption">
      <h3><%= project.title %></h3>
      <div><%= project.organization.nil? ? raw( '&nbsp;' ) : "@#{project.organization.name}" %></div>
    </div>
    <div class='description'><%= project.description || raw( '&nbsp;' ) %></div>
    <% if Hei::Application.config.hei[ 'projects_as' ] == 'projects' %>
      <progress value="<%= project.progress %>" max="100" title="<%= project.progress %>% complete"><%= project.progress %>% complete</progress>
    <% end %>

    <ul class="tags">
      <% project.tags.each do |t| %>
        <li><%= t.name %></li>
      <% end %>
    </ul>
  </a>
</li>
