<li class="span4 project-card" data-project-id="<%= project.id %>">
  <a href="<%= project_path project %>" class="thumbnail" title="<%= project.description %>">
    <div class="caption">
      <h3><%= project.title %></h3>
      <div><%= project.description %></div>
    </div>
    <ul class="tags">
      <% project.tags.each do |t| %>
        <li><%= t.name %></li>
      <% end %>
    </ul>
  </a>
</li>
