<time datetime="<%= project_card.updated_at.to_s( :db ).sub(' ', 'T' )[ 0..-4 ] %>"><%= project_card.updated_at.to_formatted_s( :short ) %></time>

<div class="caption">
  <h3><%= project_card.title %></h3>

  <div><%= project_card.organization.nil? ? raw( '&nbsp;' ) : "@ #{project_card.organization.name}" %></div>
</div>

<div class='description'><%= project_card.description || raw( '&nbsp;' ) %></div>

<% if project_card.progress.present? %>
  <div class = 'progress progress-striped' title = '<%= project_card.progress %>%'>
    <div class = 'bar' style = 'width: <%= project_card.progress %>%;'></div>
  </div>
<% end %>

<ul class="tags">
  <% project_card.tags.each do |t| %>
    <li><%= t.name %></li>
  <% end %>
</ul>
