<div class="span8">
  <div class="page-header">
    <h1><%= @project.title %></h1>

    <% if @project.role.present? %>
      <div class="role"><%= @project.role %></div>
    <% end %>

    <%= link_to( "@ #{@project.organization.name}", organization_path( @project.organization ), { class: 'organization' } ) unless @project.organization.nil? %>

    <p class="description"><%= @project.description %></p>

    <dl class="dl-horizontal">
      <% if @project.email.present? %>
        <dt><%= t 'projects_show_email' %></dt>
        <dd><a href="mailto:<%= @project.email %>"><%= @project.email %></a></dd>
      <% end %>

      <% if @project.micropost_url.present? %>
        <dt><%= t 'projects_show_micropost_url' %></dt>
        <dd><a href="<%= @project.micropost_url %>"><%= @project.micropost_url %></a></dd>
      <% end %>

      <% if @project.app_url.present? %>
        <dt><%= t 'projects_show_app_url' %></dt>
        <dd><a href="<%= @project.app_url %>"><%= @project.app_url %></a></dd>
      <% end %>
    </dl>

    <%= link_to( 'Back', projects_path, { class: 'btn' } ) %>
    <%= link_to( 'Edit', edit_project_path( @project ), { class: 'btn btn-primary' } ) %>
  </div>
</div>

