<div class="span9">
  <h1><%= @project.title %></h1>
  <p class="description"><%= @project.description %></p>

  <%= link_to( "Launch #{@project.title}!", @project.app_url, { target: '_blank' } ) unless @project.app_url.nil? %>

  <h2>Contact</h2>

  <% if not @project.contact.nil? %>
    <span><%= @project.contact.first_name %> <%= @project.contact.last_name %></span>
  <% end %>

  <h2>News</h2>

  <h3><%= link_to( 'Project activity', @project.news_url ) unless @project.news_url.nil? %></h3>

  <% if not @project.micropost_url.nil? %>
    <h3><%= link_to( 'Microposts', @project.micropost_url ) %></h3>
  <% end %>

  <h2>Documentation</h2>
  <h3><%= link_to( 'Online docs', @project.documentation_url ) unless @project.documentation_url.nil? %></h3>

  <h2>Development</h2>
  <progress value="<%= @project.progress %>" max="100" title="<%= @project.progress %>% complete"><%= @project.progress %>% complete</progress>
  
  <h3><%= link_to( 'Online repository', @project.repository_url ) unless @project.repository_url.nil? %></h3>

  <%= link_to( 'Back', projects_path, { class: 'btn' } ) %>
  <%= link_to( 'Edit', edit_project_path( @project ), { class: 'btn btn-primary' } ) %>
</div>

