<div class="span8">
  <div class="page-header">
    <h1><%= project.title %></h1>
    <p>Last update: <time datetime='<%= project.updated_at.to_s(:db).sub(' ','T')[0..-4] %>'><%= project.updated_at.to_formatted_s(:short) %></time></p>

    <%= link_to( "@ #{project.organization.name}", organization_path( project.organization ), { class: 'organization' } ) if project.organization.present? %>

    <%= link_to( "Launch #{project.title}", project.app_url, {
      target: '_blank',
      class: 'app-url btn btn-primary'
    } ) if project.app_url.present? %>
  </div>

  <p class="description"><%= project.description %></p>
  
  <% if project.contact.present? %>
    <h2>Contact</h2>
    <span><%= project.contact.first_name %> <%= project.contact.last_name %></span>
  <% end %>

  <% if project.news_url.present? or project.micropost_url.present? %>
    <h2>News</h2>
  <% end %>

  <h3><%= link_to( 'Project activity', project.news_url ) if project.news_url.present? %></h3>

  <h3><%= link_to( 'Microposts', project.micropost_url ) if project.micropost_url.present? %></h3>

  <% if project.documentation_url.present? %>
    <h2>Documentation</h2>
    <h3><%= link_to( 'Online docs', project.documentation_url ) %></h3>
  <% end %>

  <% if project.progress.present? %>
    <h2>Development</h2>
    <div class = 'progress progress-striped' title = '<%= project.progress %>%'>
      <div class = 'bar' style = 'width: <%= project.progress %>%;'></div>
    </div>
  <% end %>
  
  <h3><%= link_to( 'Online repository', project.repository_url ) if project.repository_url.present? %></h3>

  <%= link_to( 'Back', projects_path, { class: 'btn' } ) %>
  <%= link_to( 'Edit', edit_project_path( project ), { class: 'btn btn-primary' } ) %>
</div>


