<% provide :title, t( 'projects' ) %>

<% unless request.xhr? %>

<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Hei <small><%= t 'byline' %></small></h1>
    </div>
  </div>
</div>

<% if t( 'subtext' ).present? %>
  <div class="row">
    <div class="span12">
      <div class="page-header subtext">
        <%= raw t( 'subtext' )%>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span8">
<%= render partial: 'shared/forms/search' %>
  </div>

  <% if Hei::Application.config.hei[ 'projects_as' ] != 'people' %>
    <div class="span4">
      <%= link_to t( 'add_project' ), new_project_path, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

  <div class="row pagination_target">
<% end %>

    <div class="span4 facet-list page-header">
      <h2>Tags</h2>

      <ul>
        <% @tags.each do |t| %>
          <li><%= link_to t.name, search_path + "?tag[]=#{t.name}" %></li>
        <% end %>
      </ul>
    </div>

      <%= will_paginate @projects,:renderer => BootstrapPagination::Rails, :class => 'pagination pagination-centered'  %>
      <ul class="project-cards thumbnails">
        <%= render @projects %>
      </ul>
      <%= will_paginate @projects,:renderer => BootstrapPagination::Rails, :class => 'pagination pagination-centered'  %>

<% unless request.xhr? %>
  </div>
<% end %>
