<% provide :title, 'projects' %>

<% unless request.xhr? %>
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h1>Hei <small>A registry of all things wondrous in the Harvard developer community.</small></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <%= link_to 'Add a New Project', new_project_path, class: 'btn btn-primary' %>
  </div>

  <div class="row">
    <div class="span12" id="filtering">
      <h2>Filter by. . .</h2>
      <div id="filter_container">
        <%= Facet.primary.collect{|f| f.name}.join(', ') %>
    </div>
    </div>
  </div>

<div class="row pagination_target">
<% end %>
  <div class="span12">
    <%= will_paginate @projects,:renderer => BootstrapPagination::Rails, :class => 'pagination pagination-centered'  %>
    <ul class="thumbnails">
      <%= render :partial => 'shared/line_items/project', :collection => @projects %>
    </ul>
    <%= will_paginate @projects,:renderer => BootstrapPagination::Rails, :class => 'pagination pagination-centered'  %>
  </div>

<% unless request.xhr? %>
</div>
<% end %>
