<section class="organization partial">
  <div class="caption">
    <h1><%= organization.name %></h1>
  </div>

  <% if organization.url.present? %>
    <% if params[ :action ] == 'index' %>
      <div class="url"><%= organization.url %></div>
    <% else %>
      <%= link_to organization.url, organization.url, class: 'url' %>
    <% end %>
  <% end %>

  <% if organization.location.present? %>
    <div class="location"><%= organization.location %></div>
  <% end %>

  <% if organization.phone.present? %>
    <div class="phone"><%= organization.phone %></div>
  <% end %>
</section>
