<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span12">
    <div class="page-header">
      <%= render @organization %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2><%= t 'organizations_affiliated_projects' %></h2>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= render @projects %>
  </div>
</div>


